.pagination-container {
    width: 100%;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin: 5% auto;
    color: var(--gray);
    text-align: center;
}
.pagination li {
    font: bold 17px "Roboto";
    padding: 5% 5%;
    margin: 0 1%;
    cursor: pointer;
}
.pagination li.active {
    color: var(--orange);
}