.ply {
    border: 1px solid var(--borderGray);
    border-radius: 3px;
    display: inline-block;
    margin: 0% 0px 3% 0%;
    padding: 0;
    width: 90%;
    transition: all 1s;
}
.player-view {
    width: 100%;
}
/* HOVER */
.ply:hover .bio {
    visibility: visible;
}

.ply:hover {
    border-color: #FFB700;
}
.ply:hover .ply-num {
    color: #363533;
    background: linear-gradient(to left top,
     rgb(255,255,255, 0.00001) 0%,
     rgb(255,255,255, 0.000001) 50%,
      #ffc800 50%, #ffc800 100%);
    }
    
.ply-num-photo {
    width: 100%;
    min-height: 40vh;
    display: flex;
}

.ply-num-photo img {
    width: 100%;
    padding: 5% 0;
    vertical-align: middle;
    object-fit: cover;
}

.ply-img {
    display: flex;
    width: 100%;
    position: relative;
}

.ply-num {
    color: #ffc800;
    transition: all 1s;
    background: linear-gradient(to left top,
     rgb(255,255,255, 0.00001) 0%,
     rgb(255,255,255, 0.000001) 50%,
      #363533 50%, #363533 100%);
    display: flex;
    padding: 5% 0 5% 7%;
    width: 40%;
    height: 17vh;
    position: absolute;
    font-size: 24px;
}

.ply-info {
    text-align: left;
    display: flex;
}

.ply-name {
    color: #727272;
}
.ply:hover .ply-name {
    color: #ffc800;
}

.ply-name-pos {
    width: 77%;
    padding-left: 6%;
    padding-top: 5%;
    font: 22px "Assitant";
}

.ply-info p {
    display: block;
    line-height: 1.5;
}

.position {
    color: rgb(169, 166, 166);
}

@media screen and (max-width: 520px) {
    .ply {
        margin: 0% 1% 8% 1%;
    }
}