.Match {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* NEXT MATCH */
.mNextMatch {
  padding: 10% 0% 3% 3%;
  width: 100%;
  margin: 0% 0 7% 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mNextMatch > h1 {
  margin: 0;
  color: #ffb700;
  font-weight: bold;
  font-size: 40px;
}
.mnm-matchDetails {
  width: 80%;
  margin: 5% auto;
  padding: 2% 2% 3% 2%;
  text-align: center;
  font-family: "Assistant", "Oswald", "Times New Roman", Times, serif;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.mnm-teams img {
  width: 20%;
  display: inline-block;
}
.mnm-teams p {
  display: inline-block;
  width: 60%;
  font: bold 24px "Assistant";
  color: var(--skyBlue);
}
.mnm-teams p span {
  margin: 0 3%;
}
.mnm-matchDetails > p {
  color: var(--lightBlack);
}
.mnm-date {
  font-size: 22px;
}
.mnm-league,
.mnm-location {
  font-size: 17px;
  margin: 0 0 1% 0;
}
/* FILTERS */
.mFilter {
  width: 80%;
  margin: 7% auto 3% auto;
}
.mf-leagues,
.mf-month {
  width: 50%;
}
.mFilter select {
  outline: none;
  padding: 1% 0%;
  text-align: center;
  font: 18px "Assistant";
  background-color: var(--lightBlue);
  color: white;
}
.mFilter option {
  background-color: white;
  color: black;
}
.mf-leagues {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid white;
}
.mf-month {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}
/* OTHER GAMES TABLE */
.games {
  width: 80%;
  margin: 0 auto 7% auto;
  background-color: rgb(45, 45, 45);
  color: white;
  backdrop-filter: blur(2px);
}

.games tr {
  width: 100%;
}
.games td {
  border: none !important;
}
.match {
  width: 100%;
  border: 1px solid #ffb700;
  border-top-width: 2px;
  border-bottom-width: 0pxF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.date {
  width: 13%;
  padding: 0% 0% 0% 3% !important;
}
.score {
  width: 47%;
}
.location {
  width: 32%;
}
.score img {
  width: 14%;
  margin: 0 1%;
}
.moreArrow {
  width: 6%;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

.games tr:hover {
  background-color: #383838;
}

.games span {
  color: #ffd027;
  padding: 0 1%;
}
.day {
  display: block;
}

.icon {
  color: #ffd027;
}

.mTitle,
.mMore {
  display: block;
  width: 100%;
}
.mMore {
  text-align: center;
  padding: 3%;
  border-top: 1px solid white;
}
.mg-title {
  font-size: 20px;
}
.mg-title img {
  width: 10%;
}
.goals {
  width: 100%;
  font-size: 16px;
}
.goals div {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
@media screen and (max-width: 1000px) {
  .mNextMatch {
    padding-top: 15%;
  }
  .mFilter select {
    font-size: 16px;
  }
  .mnm-teams img {
    width: 18%;
  }
  .mnm-teams p {
    font-size: 22px;
  }
  .mnm-date {
    font-size: 20px;
  }
  .mnm-league, .mnm-location {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .score img {
    width: 16%;
  }
  .mNextMatch {
    padding-top: 22%;
  }
  .mTitle {
    font-size: 15px;
  } .mg-title {
    font-size: 18px;
  }
  .goals {
    font-size: 14px;
  }
  .mFilter {
    width: 90%;
  }
  .games {
    width: 90%;
  }
  .mnm-matchDetails {
    width: 90%;
  }
  .mnm-teams img {
    width: 16%;
  }
  .mnm-teams p {
    font-size: 18px;
  }
  .mnm-date {
    font-size: 16px;
  }
  .mnm-league, .mnm-location {
    font-size: 13px;
  }
}
@media screen and (max-width: 500px) {
  .score img {
    width: 18%;
  } 
  .mTitle {
    font-size: 16px;
  }
}