.Standings {
  padding-top: 10%;
  background-image: url("../standings/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.leagues {
  margin: 0% 10% 5% 10%;
}

.leagues-select {
  width: 20%;
  padding: 1%;
  font: 16px Assistant;
  outline: none;
}
.leagues-select option {
  padding: 3% !important;

}

.standing-all {
  padding: 5% 0% 15% 0%;
}
