/* CATEGORIES */
.shop-categories {
  font: 20px Oswald;
  border-top: 1px solid rgb(220, 219, 219);
  border-bottom: 1px solid rgb(220, 219, 219);
  transition: all 0.3s ease-out 0s !important;
  margin-bottom: 3%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
}

.shop-categories ul {
  margin: 0;
}

.shop-categories li {
  display: inline-block;
  margin-right: 8%;
  font-weight: bold;
  cursor: pointer;
}

.shop-categories ul .selectedCtgr{
  cursor: pointer;
  color: #ffc800;
  border-radius: 3px;
}
