.OtherPosts {
    padding: 3% 1.5% 0% 1.5%;
    width: 25%;
    display: inline-block;
}

.posts {
    border: 1px solid rgb(231, 230, 230);
}


.other-posts-image {
    width: 100%;
    transition: opacity 0.6s;
}

.other-posts-image:hover {
    opacity: 0.8;;
}

.other-posts-image img{
    width: 100%;
    object-fit: cover;
}

.other-posts-content {
    padding: 7%;
    width: 100%;
}

.other-posts-date {
  color: gray;
  font: 15px Oswald;
}

.other-posts-title {
    font: 18px Oswald;
    transition: color 0.6s;
    color: rgb(113, 113, 113);
}

.other-posts-title p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.other-posts-title:hover {
    color: #ffc800;
    cursor: pointer;
}