.OpenedNewsCard {
    width: 100%;
}
.OpenedNewsCard .col {
    padding: 0;
} 

.opened-card-image {
    width: 60%;
    margin: 120px auto 0 auto;
}

.opened-card-image img {
    width: 100%;
    object-fit: cover;
}

.opened-card-content {
    padding: 4% 0% 7% 0%;
    width: 90%;
    margin: 0 auto;
}
.opened-card-title {
    font: bold 30px Assistant;
    color: rgb(85, 85, 85);
    margin: 0 0 3% 0;
    text-overflow: ellipsis;
    line-height: 30px;
}
.opened-card-date {
    color: rgb(150, 148, 148);
    display: flex;
    font: 15px Oswald;
    align-items: center;
    margin: 0 0 5% 0;
}

.opened-card-info {
    font: 17px WorkSans;
    color: rgb(94, 93, 93);
}

.share {
    margin-left: 10%;
    width: 50%;
    color: white;
    line-height: 30px;
}

.share ul {
    padding: 1% 0% 1% 10%;
    background: linear-gradient(135deg, #292423 0%, #292423 100%);
    transform: skewX(-15deg);
}

.share-li {
    display: inline-block;
    margin-right: 12%;
    font-style: normal;
    font-size: 20px;
}
.smedias {
    cursor: pointer;
}

.share-li:hover{
    color: #ffc400;
}

/* OTHER POST CARDS */

.other-post-cards {
    width: 100%;
    padding: 10% 0% 5% 0%;
}

.other-post-cards > h1 {
    text-align: left !important;
    padding-left: 2%;
}