html,
body {
  margin: 0;
}

.Players {
  background-image: linear-gradient(rgba(0, 0, 0, 0, 5), rgba(0, 0, 0, 0, 5)),
    url("./images/background.png");
  color: black;
  font-family: Oswald, sans-serif;
  padding: 5% 2% 0 2%;
  margin: 0 auto;
  width: 100%;
}
.players-list,
.coach-list {
  width: 100%;
  padding: 0;
  /* display: inline-block; */
}

.coach-head {
  padding-bottom: 5%;
}

.Players > h1 {
  text-align: center;
  padding-top: 50px;
}

.team-heading {
  padding: 3% 0 3% 3%;
  color: #ffc800;
}

/* RESPONSIVE */
@media screen and (max-width: 520px) {
    .Players {
        padding: 8% 10% 0 10%;
    }
}
