.Home {
  max-width: 100% !important;
  margin: 0;
  padding: 0;
}
.Home > .row {
  padding: 0 0 2% 0;
  display: block;
}
.photos-slider {
  position: relative;
  width: 100%;
}
.photos-slider a {
  width: 100%;
  display: block;
}
.photo {
  width: 100%;
}
.read-more {
  width: 15%;
  border-radius: 5px;
  border: 1px solid #ca9f04;
  color: white;
  font-size: 12px;
  padding: 15px 2%;
  position: absolute;
  bottom: 7%;
  right: 3%;
  background-image: linear-gradient(
    150deg,
    #292423 0%,
    #292423 47%,
    #ffc800 47%,
    #ffc800 47%
  );
  background-image: -webkit-linear-gradient(
    150deg,
    #292423 0%,
    #292423 47%,
    #ffc800 47%,
    #ffc800 47%
  );
  cursor: pointer;
  transition: background-image 600ms;
}

.read-more:hover {
  background-image: linear-gradient(
    150deg,
    #ffc800 0%,
    #ffc800 47%,
    #292423 47%,
    #292423 47%
  );

  background-image: -webkit-linear-gradient(
    150deg,
    #ffc800 0%,
    #ffc800 47%,
    #292423 47%,
    #292423 47%
  );
}

.read-more:hover .more-text {
  color: #ffc800;
}

.read-more:hover .more-icon {
  color: #292423;
}

.more-text,
.more-icon {
  display: inline-block;
}

.more-text {
  color: #292423;
  font-weight: bold;
}

.more-icon {
  color: #ffc800;
  margin-left: 40%;
  font-weight: bold;
}

/* NEXT MATCH INFO */

.next-match-info {
  width: 100%;
  background: rgb(201, 146, 21);
  background: linear-gradient(
    90deg,
    rgba(201, 146, 21, 1) 0%,
    rgba(239, 171, 18, 1) 10%,
    rgba(240, 179, 43, 1) 30%,
    rgba(240, 191, 81, 1) 50%,
    rgba(240, 179, 43, 1) 70%,
    rgba(239, 171, 18, 1) 90%,
    rgba(201, 146, 21, 1) 100%
  );
  /* background-color: #ffc800; */
  padding: 7% 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.next-match {
  width: 100%;
  background-color: white;
  padding: 10% 7% 5% 7%;
}

.next-match > h1 {
  font-size: 35px;
  margin-bottom: 11%;
  margin-right: 5%;
  position: relative;
}

.clubs {
  text-align: center;
  padding-bottom: 4%;
}

.club {
  display: inline-block;
}

.club img {
  display: inline-block;
}
.club p {
  display: inline-block;
}
.vs {
  font-size: 20px;
  height: 35px;
  width: 6%;
  text-align: center;
  background-color: #ffc800;
}

.first,
.second {
  width: 42%;
}

.next-date-info {
  font-family: "Work Sans";
  font-size: 14px;
  color: rgb(136, 135, 135);
  padding-bottom: 5%;
}

.next-date,
.next-location {
  text-align: center;
  margin: 0;
}

.all-matches {
  margin-top: 8%;
  font-family: "Work Sans";
  font-size: 12px;
  color: rgb(136, 135, 135);
  text-align: center;
  cursor: pointer;
}

/* NEWS */
.homeNews {
  padding: 2% 2%;
  width: 100%;
}
.Hpart-title {
  width: 100%;
  margin: 1% 0% 5% 0;
  text-align: center;
}

/* SHOP */

.homeShop {
  background-image: url("../../Images/homeImages/shopbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 3% 2% 5% 2%;
}

.homeShop > .Hpart-title {
  color: white;
  text-align: center;
  font: 35px "Assistant";
}

/* Galery */
.galery {
  width: 95%;
  margin: 0 auto;
}

.galery .slideImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.galery .swiper-slide  {
  min-height: 300px;
  margin: 0;
}


/* RESPOSIVENESS */
@media screen and (min-width: 980px) {
  .container {
    max-width: 100%;
  }
  .nmi-nextMatchPart {
    width: 45%;
  }
  .nmi-standingPart {
    width: 49%;
  }
  .nmi-standingPart div {
    width: 100%;
  }
  .swiper-container {
    width: 980px;
  }
  .row .swiper-slide {
    min-height: 400px;
  }
  .galery .swiper-slide  {
    min-height: 300px;
  }
}

@media screen and (max-width: 830px) {
  .nmi-standingPart .logo-col {
    width: 26% !important;
  }

  .nmi-standingPart .pos-col {
    font-size: 13px;
    width: 2%;
  }
  .nmi-standingPart .name-col {
    width: 14%;
    font-size: 14px;
  }
  .nmi-standingPart .pts-col,
  .nmi-standingPart .p-col,
  .nmi-standingPart .win-col,
  .nmi-standingPart .draw-col,
  .nmi-standingPart .los-col,
  .nmi-standingPart .gd-col {
    width: 8%;
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .next-match-info {
    padding: 7% 5%;
    flex-direction: column;
  }
  .nmi-nextMatchPart {
    margin-bottom: 5%;
  }
  .nmi-standingPart .logo-col {
    width: 14% !important;
  }
  .read-more {
    width: 25%;
  }
}

@media screen and (min-width: 700px) and (max-width: 980px) {
  .container {
    max-width: 100%;
  }
  .nmi-nextMatchPart {
    width: 42%;
  }
  .nmi-standingPart {
    width: 55%;
  }
  .swiper-container {
    width: 700px;
  }
  .row .swiper-slide {
    min-height: 300px;
  }
  .galery .swiper-slide  {
    min-height: 250px;
  }
  /* NEXT MATCH */
  .next-match-info {
    padding: 10% 5%;
  }
  .next-match {
    padding: 7% 5%;
  }
  .club img {
    width: 30%;
    display: inline-block;
  }
  .club p {
    width: 50%;
    margin: 0;
    display: inline-block;
  }
  .read-more {
    width: 20%;
  }
}

@media screen and (min-width: 370px) and (max-width: 500px) {
  .container {
    max-width: 100%;
  }
  .swiper-container {
    width: 370px;
  }
  .slideImage {
    height: 170px;
  }
  .Hpart-title {
    margin: 3% 0% 5% 0 !important;
  }
  .Home .row {
    padding: 0px 0 7% 0;
  }
  .nmi-standingPart .logo-col {
    width: 50% !important;
  }

  .nmi-standingPart .pos-col {
    font-size: 9px;
    width: 2%;
  }
  .nmi-standingPart .name-col {
    width: 13%;
    font-size: 11px;
  }
  .nmi-standingPart .pts-col,
  .nmi-standingPart .p-col,
  .nmi-standingPart .win-col,
  .nmi-standingPart .draw-col,
  .nmi-standingPart .los-col,
  .nmi-standingPart .gd-col {
    width: 7%;
    font-size: 10px;
  }
  .read-more {
    width: 30%;
    padding: 10px 2%;
    font-size: 10px;
  }
}
