.Home {
  max-width: 100% !important;
  margin: 0;
  padding: 78px 0 0 0;
}
.Home > .home-part {
  padding: 0 0 0% 0;
  display: block;
}
/* MAIN NEWS */
.home-mainNews {
  height: 87vh;
}
.hmn-slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}
.photo {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  /* then convert into center */
  object-position: top;
  filter: opacity(60%);
}
.hmns-add {
  position: absolute;
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  bottom: 7%;
  right: 0%;
}
.hmnsa-title {
  width: 100%;
}
.hmnsa-more {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hmns-title-text {
  font: bolder 42px Assistant;
  color: rgb(34, 34, 34);
  padding: 1% 0;
}
.hmns-title-text p {
  margin: 0;
}

/* NEXT MATCH INFO */

.next-match-info {
  width: 100%;
  background: rgb(201, 146, 21);
  background: linear-gradient(
    90deg,
    rgba(201, 146, 21, 1) 0%,
    rgba(239, 171, 18, 1) 10%,
    rgba(240, 179, 43, 1) 30%,
    rgba(240, 191, 81, 1) 50%,
    rgba(240, 179, 43, 1) 70%,
    rgba(239, 171, 18, 1) 90%,
    rgba(201, 146, 21, 1) 100%
  );
  padding: 7% 4%;
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: space-between; */
}
.nmi-nextMatchPart,
.nmi-standingPart {
  width: 50%;
}
.next-match {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 13% 7% 5% 7%;
}

.next-match > h1 {
  font-size: 35px;
  margin-bottom: 11%;
  margin-right: 5%;
  position: relative;
}

.clubs {
  text-align: center;
  padding-bottom: 4%;
}

.club {
  display: inline-block;
}

.club img {
  width: 30% !important;
  margin: 0 !important;
  display: inline-block;
}
.club p {
  width: 70%;
  display: inline-block;
}
.vs {
  font-size: 20px;
  height: 35px;
  width: 6%;
  text-align: center;
  background-color: #ffc800;
}

.first,
.second {
  width: 42%;
}

.next-date-info {
  font-family: "Work Sans";
  font-size: 14px;
  color: rgb(136, 135, 135);
  padding-bottom: 5%;
}

.next-date,
.next-location {
  text-align: center;
  margin: 0;
}

.all-matches {
  margin-top: 10%;
  font-family: "Work Sans";
  font-size: 12px;
  color: rgb(136, 135, 135);
  text-align: center;
  cursor: pointer;
}

/* NEWS */
.homeNews {
  padding: 4% 2% 0% 2%;
  width: 100%;
}
.Hpart-title {
  width: 100%;
  margin: 1% 0% 5% 0;
  text-align: center;
}
.hn-allNews {
  display: flex;
  width: 100%;
}
.hn-allNews .col {
  border-radius: 5px;
}

/* SHOP */

.homeShop {
  background-image: url("../../Images/homeImages/shopbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 3% 2% 5% 2%;
}

.homeShop > .Hpart-title {
  color: white;
  text-align: center;
  font: 35px "Assistant";
}

/* Galery */
.hgalery {
  max-width: 95%;
  margin: 3% auto 2% auto;
}
.hpg-row {
  display: flex;
  flex-wrap: wrap;
}
.hpgr-imgcol {
  margin: 0 auto 2% auto;
  width: fit-content;
  min-height: 18vw;
}
.hpgr-imgcol a {
  width: 100%;
  height: 100%;
}

.hgalery .slideImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* modal  */
.MuiBox-root {
  padding: 3% 0 0 0;
}
.closeGal svg {
  color: gray;
  font-size: 30px;
}
.galeryImg {
  width: 65%;
  /* min-height: 100%; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galeryImg img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.MuiBox-root .swiper-button-next,
.MuiBox-root .swiper-button-prev {
  color: black !important;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: white !important;
}

/* RESPOSIVENESS */
@media screen and (min-width: 980px) {
  .container {
    max-width: 100%;
  }
  .nmi-standingPart div {
    width: 100%;
  }
  .swiper-container {
    width: 980px;
  }
  .row .swiper-slide {
    min-height: 400px;
  }
  .hgalery .swiper-slide {
    min-height: 300px;
  }
}

@media screen and (min-width: 801px) and (max-width: 980px) {
  .container {
    max-width: 100%;
  }
  .hmns-title-text {
    font-size: 35px;
  }
  .nmi-nextMatchPart {
    width: 42%;
  }
  .nmi-standingPart {
    width: 55%;
  }
  .swiper-container {
    width: 700px;
  }
  /* NEXT MATCH */
  .next-match-info {
    padding: 10% 5%;
  }
  .next-match {
    padding: 7% 5%;
  }
  .club img {
    width: 30%;
    display: inline-block;
  }
  .club p {
    width: 50%;
    margin: 0;
    display: inline-block;
  }
  .read-more {
    width: 20%;
  }
}
@media screen and (max-width: 830px) {
  .nmi-standingPart .logo-col {
    width: 100% !important;
  }
  .nmi-nextMatchPart,
  .nmi-standingPart {
    width: 100%;
  }

  .nmi-standingPart .pos-col {
    font-size: 13px;
    width: 2%;
  }
  .nmi-standingPart .name-col {
    width: 14%;
    font-size: 13px;
  }
  .stnd-table th {
    font-size: 15px;
  }
  .nmi-standingPart .pts-col,
  .nmi-standingPart .p-col,
  .nmi-standingPart .win-col,
  .nmi-standingPart .draw-col,
  .nmi-standingPart .los-col,
  .nmi-standingPart .gd-col {
    width: 7%;
    font-size: 13px;
  }
}
@media screen and (max-width: 801px) {
  .next-match-info {
    padding: 7% 5%;
    flex-direction: column;
  }
  .next-match {
    width: 90%;
    margin: 0 auto;
  }
  .nmi-standingPart {
    width: 90%;
    margin: 0 auto;
  }
  .hmns-title-text {
    font-size: 30px;
  }
  .nmi-standingPart .logo-col {
    width: 14% !important;
  }
  .read-more {
    width: 25%;
  }
  .hgalery {
    margin: 5% auto 3% auto;
  }
  .hpgr-imgcol {
    margin-bottom: 4%;
  }
}

@media screen and (max-width: 426px) {
  .nmi-standingPart .logo-col {
    display: none;
  }
}

@media screen and (min-width: 370px) and (max-width: 500px) {
  .container {
    max-width: 100%;
  }
  .hmns-title-text {
    font-size: 25px;
  }
  .slideImage {
    height: 170px;
  }
  .Hpart-title {
    margin: 3% 0% 5% 0 !important;
  }
  .Home .row {
    padding: 0px 0 7% 0;
  }
  .nmi-standingPart .logo-col {
    width: 50% !important;
  }

  .nmi-standingPart .pos-col {
    font-size: 9px;
    width: 2%;
  }
  .nmi-standingPart .name-col {
    width: 13%;
    font-size: 11px;
  }
  .nmi-standingPart .pts-col,
  .nmi-standingPart .p-col,
  .nmi-standingPart .win-col,
  .nmi-standingPart .draw-col,
  .nmi-standingPart .los-col,
  .nmi-standingPart .gd-col {
    width: 7%;
    font-size: 10px;
  }
  .read-more {
    width: 30%;
    padding: 10px 2%;
    font-size: 10px;
  }
}
