body.open {
  overflow: hidden;
}
.header {
  width: 100%;
  height: 78px;
  margin: 0;
  padding: 0;
  font-family: "Assistant";
  position: fixed;
  background-color: rgb(18, 18, 18);
  z-index: 1000;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.29);
}
.headerContainer {
  display: flex;
  width: 100%;
  max-width: 100%;
  position: relative;
}
.menuBtn {
  margin: 0 0 0 1%;
  font-size: 35px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: none;
  color: white;
}
.menuBtn svg {
  color: white !important;
}
.burgerMenu {
  display: none;
}
.logo-brand {
  width: 8% !important;
  display: flex;
  align-items: center;
}
.header-logo {
  width: 70%;
}

.first-collapse {
  display: flex;
  width: 70%;
  left: 140px;
  position: absolute;
}

.second-collapse {
  width: 20%;
  display: flex !important;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
}

.nav-item {
  margin-right: 5%;
  flex-direction: row;
  display: flex;
  align-items: center;
  color: rgb(113, 113, 113);
  padding: 0.85% 3%;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255, 0.7) !important;
}

a {
  color: rgb(255, 255, 255, 0.7);
  text-decoration: none !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
  color: rgb(255, 255, 255, 0.9);
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 204, 0, 0.9) !important;
}

.item {
  background-color: rgba(18, 18, 18, 0.8);
}

.dropdown-item:hover {
  background-color: rgba(60, 59, 59, 0.8);
  color: rgba(255, 204, 0, 0.9);
}
.standings .dropdown-menu
.club .dropdown-menu {
  padding: 7% 0 0 0;
}
.lang .dropdown-menu {
  padding: 20% 0 0 0;
}
.st,
.ab {
  margin-top: 2.5%;
}

.az {
  margin-top: 1%;
}

.dropdown-item:hover a {
  color: rgba(255, 204, 0, 0.9);
}

.dropdown-menu {
  border: none;
  background-color: transparent;
}

.dropdown-menu:hover {
  border: none;
  background-color: transparent;
}

.dropdown-toggle::after {
  content: none;
}

@media screen and (max-width: 1000px) {
  .menuBtn {
    display: block;
    color: white !important;
  }
  .logo-brand {
    margin-left: 60px;
    position: absolute;
  }
  .logo-brand{
    width: 10% !important;
  }
  .lang .dropdown-menu {
    padding: 20% 0 0 0;
  }
  .header-logo {
    object-fit: cover;
    width: 73% !important;
}
  .first-collapse {
    flex-direction: column !important;
    display: none;
  }
  .menuItems {
    padding: 0;
  }
  .open .burgerMenu {
    display: block;
    position: absolute;
    top: 69px;
    background-color: var(--headerBlack);
    left: 0px;
    margin: 0;
    width: 100%;
    min-height: 90vh;
    padding: 2% 3%;
    overflow-y: scroll;
  }
  .burgerMenu .nav-item {
    /* width: 20%; */
    margin: 1rem 0;
    color: white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
  }
  .burgerMenu .nav-item svg {
    font-size: 20px;
  }
  .burgerMenu .nav-item > a {
    width: 100%;
    color: white;
    padding: 0 0 0.5% 0;
  }
  .nav-item:hover,
  .nav-item a:hover,
  .subitem:hover {
    color: rgba(255, 204, 0, 0.9);
  }
  .subitem {
    border-bottom: 1px solid white;
    margin: 1rem 0;
    padding: 0.85% 3%;
    cursor: pointer;
  }
  .second-collapse {
    width: 40%;
  }
  .second-collapse .lang {
    padding: 0.85% 3% 2% 3%;
  }
  .lang .dropdown-menu {
    padding: 14% 0 0 0;
  }
}

@media screen and (max-width: 570px) {
  .logo-brand  {
    width: 15% !important;
  }
}