.shopHeader {
    width: 100%;
    margin: 0 auto;
}
.shopHeaderBgImg {
    width: 100%;
    height: 70vh;
    background-image: url("../images/backgroundImages/teamKits.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
}