.shopHeader {
    width: 100%;
    margin: 0 auto;
}
.shopHeaderBgImg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopHeaderBgImg img {
    min-width: 100%;
    margin: 78px auto 0 auto;
    min-height: 100%;
    object-fit: cover;
}