body {
    /* width: 100%; */
    margin: 0 auto;
}

@media (min-width:1000px) {
    .container {
        min-width: 100%;
    }
}

.row {
    margin: 0;
    padding: 0;
}

.news-title {
    width: 100%;
    padding: 10% 0% 3% 3%;
    text-align: left;
    background-image: url("../../Images/backgroundImages/photo7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.all-news {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    /* column-gap: 3%; */
}

.all-news > .an-card {
    width: 100%;
    margin: 0% 0% 4% 0%;
    border-radius: 5px;
}
.all-news > .an-card >a {
    width: 100%;
}