.cartPage {
    width: 100%;
    padding: 130px 4% 0 4%;
    margin: 0 auto 5% auto;
}

.cartDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart {
    width: 70%;
    color: black;
    background-color: white;
    border-collapse:collapse
}

.check {
    background-color: rgba( 255, 183, 0, 0.3);
    color: black;
    width: 27%;
    height: min-content;
    padding: 2%;
    font: 16px Assistant;
    border: none;
    border-radius: 5px;
}

.check div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.proceed {
    width: 100%;
    border-top: 1px solid black;
}
.proceed a {
    width: 100%;
}
.proceed a button {
    color: white;
    background-color: var(--headerBlack);
    width: 70%;
    margin: 10% auto 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    border-radius: 7px;
    border: none;
    transition: background-color 0.6s ease-in-out;
}
.proceed button:hover {
    color: white;
    background-color: var(--orange);
}

.contShop {
    width: 100%;

}
.contShop button {
    width: 25%;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 1% 0;
    transition: background-color 0.5s ease-in-out;
    background-color: var(--lightBlue);
}

.contShop button:hover {
    color: white;
    background-color: var(--headerBlack);
}
.backArrow {
    display: none;
}
.contShop button:hover .backArrow {
    display: inline;
}
/* MESSAGE TO CLIENT */
.messageToClient {
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}