.NewsCard {
  border: 1px solid rgb(231, 230, 230);
  border-radius: 5px;
  width: 100%;
  margin: 0 auto 10% auto;
}

.card-image {
  width: 100%;
  transition: opacity 0.6s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-image:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card-image img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-content {
  padding: 4% 5%;
  font: 18px "Oswald";
}

.card-content .card-date {
  margin-bottom: 5%;
  font: 16px "Oswald";
}

.card-content .card-title {
  margin-bottom: 5%;
  color: rgb(113, 113, 113);
  font: 22px "Oswald";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.5s;
}

.card-content .card-title:hover {
  color: #ffc800;
}

.card-date,
.card-info {
  color: gray;
}
.card-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.card-more {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #ffc800;
  background-image: -webkit-linear-gradient(
    -50deg,
    #ffc800 0%,
    #ffc800 45%,
    #292423 45%,
    #292423 45%
  );
  background-image: linear-gradient(
    -50deg,
    #ffc800 0%,
    #ffc800 45%,
    #292423 45%,
    #292423 45%
  );
  height: 40px;
  line-height: 40px;
  transition: all 1s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.card-more:hover {
  background-image: -webkit-linear-gradient(
    -50deg,
    #292423 0%,
    #292423 50%,
    #ffc800 50%,
    #ffc800 50%
  );
  background-image: linear-gradient(
    -50deg,
    #292423 0%,
    #292423 50%,
    #ffc800 50%,
    #ffc800 50%
  );
  cursor: pointer;
}

.card-more a {
  width: 100%;
}

.card-more:hover .card-read-more-text {
  color: #292423;
}

.card-more:hover .card-read-more-arrow {
  color: white;
}
.card-read-more-text {
  width: 60% ;
  color: white;
  flex: 1;
  padding-left: 15%;
}

.card-read-more-arrow {
  width: 40%;
  cursor: pointer;
  flex: 1;
  color: #292423;
  transition: all 0.6s;
  padding-left: 30%;
  margin: 0;
}

.card-read-more:hover {
  color: white;
}

AiOutlineRight {
  font-weight: 400;
}

.card-read-more:hover AiOutlineRight {
  color: white;
}

/* RESPOSIVENESS */

@media screen and (min-width: 770px) and (max-width: 920px) {
  .card-read-more-text {
    font-size: 14px;
    padding-left: 6%;
  }
}
@media screen and (min-width: 648px) and (max-width: 770px)  {
  .card-date {
    font-size: 13px;
  }
  .card-title {
    font-size: 14px;
  }
  .card-read-more-text {
    font-size: 12px;
    padding-left: 4%;
  }
}

@media screen and (min-width: 370px) and (max-width: 648px)  {
  .card-date {
    font-size: 12px;
  }
  .card-read-more-text {
    font-size: 14px;
    padding-left: 4%;
  }
}