.Standings {
  padding-top: 10%;
  background: url("../standings/background.jpg") no-repeat center/cover ;

}
.leagues {
  margin: 0% 10% 5% 10%;
}

.leagues-select {
  width: 20%;
  padding: 1%;
  font: 16px Assistant;
  outline: none;
}
.leagues-select option {
  padding: 3% !important;

}
.standing-all {
  padding: 5% 0% 15% 0%;
}

@media screen and (max-width: 1000px) {
  .leagues-select {
    width: 40%;
    font-size: 14px;
  }
}