.Player {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.Player h3{
    padding-bottom: 2%;
    margin-bottom: 7%;
    border-bottom: 3px solid #6a6969;
}

.player-info {
    margin-top: 8%;
    background-image: linear-gradient(transparent, rgba(255, 255, 255, .25) 150px, #ca9f04 30px);
    /* background: linear-gradient(90deg , transparent 10%, #1b00a3 50%, transparent 70%); */
}

.player-img {
    width: 100%;
}

.player-img img{
    width: 100%;
    padding-left: 10%;
}

.personal-info {
    margin-top: 27%;
    width: 80%;
    background-color: rgb(231, 226, 226, 0.5);
}

.personal-info, .statistics, .honours, .player-history {
    background-color: #fff6d6;
    padding: 5%;
    min-height: 30vh;
}

.statistics, .honours, .player-history {
    margin-top: 10%;
    min-height: 25vh;
}

.history-table thead > tr,
.history-table tbody tr {
    border: none;
}

.history-table tbody tr:hover {
    background-color: unset!important;
}


.personal-info ul{
    display: inline-block;
}

.statistics ul {
    display: inline-block;
}

.honours ul{
    display: inline-block;
}

.honours li,
.statistics li {
    padding-bottom: 3%;
}