.form {
  background-color: white;
  width: 40%;
  margin: 0 auto;
  padding-top: 4%;
  min-height: 40vh;
}
.signLogo {
  display: block;
  width: 30%;
  margin: 0 auto 5% auto;
}

.form > h2 {
  color: #191970;
  text-align: center;
  padding-bottom: 5%;
  font: 30px Oswald;
}

.sign-form-input {
  display: inline-block;
  width: 100%;
  padding: 0 0 0 3%;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 3%;
  border: 1px solid #191970;
  line-height: 35px;
}
.sign-form-input-pass,
.sign-form-input-passAgain {
    width: 100%;
    display: inline-block;
    line-height: 35px;
    vertical-align: middle;
}
.signPass,
.signPassAgain {
  display: inline-block;
  width: 100%;
  padding: 0 12% 0 3%;
}
.signEyeIcon {
  display: inline-block;
  position: absolute;
  margin: 0 0 0 -3%;
  z-index: 2;
}

.terms {
  font-size: 14px;
}

.links {
  color: #0000ff;
}

.links:hover {
  color: #ffb700;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 2%;
}

.signup {
  margin: 5% 0% 7% 0%;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgba(34, 70, 128, 1);
  color: #191970;
  height: 42px;
  font: bold 18px Oswald;
  background-color: white;
}

.signup:hover {
  background: rgb(247, 255, 249);
  background: linear-gradient(
    90deg,
    rgba(247, 255, 249, 1) 0%,
    rgba(34, 70, 128, 1) 0%,
    rgba(32, 78, 134, 1) 20%,
    rgba(33, 86, 140, 1) 40%,
    rgba(7, 109, 184, 1) 54%,
    rgba(33, 86, 140, 1) 74%,
    rgba(32, 78, 134, 1) 92%,
    rgba(34, 70, 128, 1) 100%
  );
  color: white;
}

.log-in {
  font-size: 13px;
}

.otherConnect {
  width: 40%;
  font-size: 40px;
}
.otherConnect a {
  color: #ffb700;
}
/* RESPONSIVENES */
@media screen and (max-width: 800px) {
  .form {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .form {
    width: 65%;
  }
  .signLogo {
    width: 40%;
  }
  .sign-form-input {
    margin: 0 0 5% 0;
  }
}
