.Player {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.Player h3{
    padding-bottom: 2%;
    margin-bottom: 7%;
    border-bottom: 3px solid #6a6969;
    font: 28px WorkSans;
}

.player-info {
    padding-top: 5%;
    /* background: var(--yellowBg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.player-info .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-info .row,
.player-info .col {
    background-color: rgba(255, 255, 255, 0.6);
} 

.player-img {
    width: 100%;
}

.player-img img{
    width: 100%;
    padding-left: 10%;
}

.personal-info {
    margin-top: 27%;
    width: 90%;
    border-radius: 15px;
    background-color: rgb(231, 226, 226, 0.5);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}

.personal-info, .statistics, .honours, .player-history {
    /* background-color: #fff6d6; */
    background-color: #e9fbff;
    padding: 5% 10%;
    min-height: 30vh;
}
.statistics, .honours, .player-history {
    margin-top: 10%;
    min-height: 25vh;
    border-radius: 15px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}
.history-table thead > tr,
.history-table tbody tr {
    border: none;
}
.history-table tbody tr:hover {
    background-color: unset!important;
}
.history-table  thead th {
    border-color: var(--skyBlue) !important;
}
.history-table td {
    border: none !important;
}
.personal-info ul{
    display: inline-block;
    font: 17px WorkSans;
    padding: 0 0 0 5%;
}
.personal-info ul:last-child{
    padding: 0 0 0 10%;
}
.statistics ul,
.honours ul {
    display: inline-block;
}
.statistics ul:first-of-type,
.honours ul:first-of-type {
    padding-left: 5%;
}

.honours li,
.statistics li {
    padding-bottom: 3%;
    line-height: 30px;
}

/* RESPONSIVNESS */
@media screen and (max-width: 768px) {
    .player-info {
        margin: 0 auto;
    }
    .player-img {
        width: 70%;
        margin: 0 auto;
    }
    .personal-info {
        margin: 8% auto 0 auto;
    }
    .playerAddInfo {
        width: 90%;
        margin: 0 auto;
    }
}