@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Work+Sans:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

body {
  margin: 0;
  padding: 0 !important;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.97),
      rgba(255, 255, 255, 0.97)
    ),
    url("../src/Images/backgroundImages/contactbg.png");
}
html,
body {
  height: 100% !important;
  min-height: 100% !important;
}
#root {
  height: 100%;
  min-height: 100% !important;
}
:root {
  --yellowBg: linear-gradient(
    90deg,
    rgba(201, 146, 21, 1) 0%,
    rgba(239, 171, 18, 1) 10%,
    rgba(240, 179, 43, 1) 30%,
    rgba(240, 191, 81, 1) 50%,
    rgba(240, 179, 43, 1) 70%,
    rgba(239, 171, 18, 1) 90%,
    rgba(201, 146, 21, 1) 100%
  );
  --skyBlue: #191970;
  --lightBlue: rgb(0, 102, 204);
  --gray: rgb(113, 113, 113);
  --lightGray: rgb(235, 235, 235);
  --borderGray: rgb(220, 220, 220);
  --orange: #FFB700;
  --lightOrange: rgb(255, 249, 238);
  --brightBlue: #3097F3;
  --headerBlack: #121212;
  --lightBlack: #353535;
}
a {
  text-decoration: none;
  color: rgb(113, 113, 113);
}

/* color 

orange
color: #FFB700; 

*/

a:hover {
  /* color: #ffc800; */
  color: #ffb700;
}
.container {
  max-width: 100% !important;
}